{% extends 'base.html.twig' %}

{% block title %}{{ product.getNom() }}{% endblock %}
{% block body %}
        <a href="{{ path('listProduct') }}">Revenir à la liste des produits</a>
        <h1>Produit {{ product.getId() }}</h1>
        <ul>
            <li>Prix : {{ product.getPrix() }}€<br>
                Marque : {{ product.getMarque().getNom() }}<br>
                Nom : {{ product.getNom() }}<br>
                Référence : {{ product.getRef() }}<br>
                Date de mise en vente : {{ product.getDateMiseEnVente()|date("d/m/Y") }}
            </li>
        </ul>
        <a class="click-me" href="{{ path('editProduct', {id: product.getId()}) }}">Modifier le produit</a><br>
        <a class="click-me" href="{{ path('deleteProduct', {id: product.getId()}) }}">Supprimer le produit</a>
{% endblock %}