{% extends 'base.html.twig' %}

{% block title %}{{ product.getNom() }}{% endblock %}
{% block body %}
        <h1>Produit {{ product.getId() }}</h1>
        <ul>
            <li>Prix : {{ product.getPrix() }}€<br>
                Marque : {{ product.getMarque().getNom() }}<br>
                Nom : {{ product.getNom() }}<br>
                Référence : {{ product.getRéférence() }}</li>
        </ul>
{% endblock %}